parameters:
    laminasframework:
        serviceManagerLoader: null
    universalObjectCratesClasses:
        - Laminas\Stdlib\ArrayObject

parametersSchema:
    laminasframework: structure([
        serviceManagerLoader: schema(string(), nullable())
    ])

rules:
    - LaminasPhpStan\Rules\Laminas\ServiceManagerGetMethodCallRule

services:
    -
        class: LaminasPhpStan\ServiceManagerLoader
        arguments:
            serviceManagerLoader: %laminasframework.serviceManagerLoader%
    -
        class: LaminasPhpStan\Type\Laminas\ServiceManagerGetDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: LaminasPhpStan\Type\Laminas\ControllerPluginClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: LaminasPhpStan\Type\Laminas\ServiceGetterDynamicReturnTypeExtension\ControllerGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: LaminasPhpStan\Type\Laminas\ServiceGetterDynamicReturnTypeExtension\MvcEventGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: LaminasPhpStan\Type\Laminas\ServiceGetterDynamicReturnTypeExtension\ViewGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: LaminasPhpStan\Type\Laminas\ServiceGetterDynamicReturnTypeExtension\ViewEventGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: LaminasPhpStan\Type\Laminas\ServiceGetterDynamicReturnTypeExtension\ApplicationGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: LaminasPhpStan\Type\Laminas\ServiceGetterDynamicReturnTypeExtension\ViewHelperGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: LaminasPhpStan\Type\Laminas\StdlibAbstractOptionsPropertiesClassReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
