parameters:
    zendframework:
       serviceManagerLoader: null

parametersSchema:
    zendframework: structure([
       serviceManagerLoader: schema(string(), nullable())
    ])

rules:
    - ZendPhpStan\Rules\Zend\ServiceManagerGetMethodCallRule

services:
    -
       class: ZendPhpStan\Type\Zend\ServiceManagerLoader
       arguments:
           serviceManagerLoader: %zendframework.serviceManagerLoader%
    -
       class: ZendPhpStan\Type\Zend\ServiceManagerGetDynamicReturnTypeExtension
       tags:
           - phpstan.broker.dynamicMethodReturnTypeExtension
    -
       class: ZendPhpStan\Type\Zend\ControllerDynamicReturnTypeExtension
       tags:
           - phpstan.broker.dynamicMethodReturnTypeExtension
    -
       class: ZendPhpStan\Type\Zend\MvcEventDynamicReturnTypeExtension
       tags:
           - phpstan.broker.dynamicMethodReturnTypeExtension
    -
       class: ZendPhpStan\Type\Zend\ViewDynamicReturnTypeExtension
       tags:
           - phpstan.broker.dynamicMethodReturnTypeExtension
    -
       class: ZendPhpStan\Type\Zend\ViewEventDynamicReturnTypeExtension
       tags:
           - phpstan.broker.dynamicMethodReturnTypeExtension
    -
       class: ZendPhpStan\Type\Zend\ApplicationDynamicReturnTypeExtension
       tags:
           - phpstan.broker.dynamicMethodReturnTypeExtension
    -
       class: ZendPhpStan\Type\Zend\ViewHelperDynamicReturnTypeExtension
       tags:
           - phpstan.broker.dynamicMethodReturnTypeExtension
    -
       class: ZendPhpStan\Type\Zend\ControllerPluginClassReflectionExtension
       tags:
           - phpstan.broker.methodsClassReflectionExtension
