parameters:
    zendframework:
        serviceManagerLoader: null
    universalObjectCratesClasses:
        - Zend\Stdlib\ArrayObject

parametersSchema:
    zendframework: structure([
        serviceManagerLoader: schema(string(), nullable())
    ])

rules:
    - ZendPhpStan\Rules\Zend\ServiceManagerGetMethodCallRule

services:
    -
        class: ZendPhpStan\Type\Zend\ServiceManagerLoader
        arguments:
            serviceManagerLoader: %zendframework.serviceManagerLoader%
    -
        class: ZendPhpStan\Type\Zend\ServiceManagerGetDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: ZendPhpStan\Type\Zend\ControllerPluginClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: ZendPhpStan\Type\Zend\ServiceGetterDynamicReturnTypeExtension\ControllerGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: ZendPhpStan\Type\Zend\ServiceGetterDynamicReturnTypeExtension\MvcEventGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: ZendPhpStan\Type\Zend\ServiceGetterDynamicReturnTypeExtension\ViewGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: ZendPhpStan\Type\Zend\ServiceGetterDynamicReturnTypeExtension\ViewEventGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: ZendPhpStan\Type\Zend\ServiceGetterDynamicReturnTypeExtension\ApplicationGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: ZendPhpStan\Type\Zend\ServiceGetterDynamicReturnTypeExtension\ViewHelperGetterDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: ZendPhpStan\Type\Zend\StdlibAbstractOptionsPropertiesClassReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
