includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src/
        - tests/
    excludePaths:
        analyseAndScan:
            - tests/Rules/Laminas/ServiceManagerGetMethodCallRule/
            - tests/Rules/Laminas/PluginManagerGetMethodCallRule/
            - tests/TestAsset/
            - tests/LaminasIntegration/data/
