includes:
    - vendor/phpstan/phpstan/conf/config.levelmax.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - src/
        - tests/
    excludes_analyse:
        - tests/Rules/Zend/ServiceManagerGetMethodCallRule/
        - tests/Rules/Zend/PluginManagerGetMethodCallRule/
        - tests/TestAsset/
        - tests/ZendIntegration/data/
