<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        colors="true"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
  <coverage>
    <report>
      <text outputFile="php://stdout" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuite name="LaminasPhpStan">
    <directory>./tests</directory>
  </testsuite>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
